.input label {
    font-weight: bold;
    margin-right: 10px;
}
.input input {
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #aaa;
    width: 30px;
}
.input input:focus {
    outline: none;
}